node_modules/
__pycache__/
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node.zip
.vscode/
.claude/

# Ignore Models for testing
data/*
!data/comfy/user/default/workflows

# Ignore generated project files
gpu_config.json